<a href="https://colab.research.google.com/github/Muhamad-naufal/Project-MSIB-3/blob/main/Exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
NIK = [1990022, 2001077, 2002019, 2002081, 2005099, 2006003, 2006104, 2008160] 
Nama = ['Herman', 'Badar', 'Clara', 'Rista', 'Riani', 'Afif', 'Riven', 'Endah']
Jenis_Kelamin = ['L', 'L', 'P', 'P', 'P', 'L', 'L', 'P']
Alamat = ['Tangerang', 'Bekasi', 'Depok', 'Bogor', 'Bekasi', 'Karawang', 'Tangerang', 'Jakarta']
Divisi = ['Machinery', 'Machinery', 'Compressor', 'QC', 'QC', 'Compressor', 'Compressor', 'Machinery']
Jabatan = ['Manager', 'Staff', 'Staff', 'Staff', 'Operator', 'Operator', 'Operator']
Gaji_Pokok = [10000000, 7500000, 7000000, 6500000, 6000000, 5500000, 5500000, 5000000]

for data in zip(NIK,Nama, Jenis_Kelamin, Alamat, Divisi, Jabatan, Gaji_Pokok):
  print(data)

(1990022, 'Herman', 'L', 'Tangerang', 'Machinery', 'Manager', 10000000)
(2001077, 'Badar', 'L', 'Bekasi', 'Machinery', 'Staff', 7500000)
(2002019, 'Clara', 'P', 'Depok', 'Compressor', 'Staff', 7000000)
(2002081, 'Rista', 'P', 'Bogor', 'QC', 'Staff', 6500000)
(2005099, 'Riani', 'P', 'Bekasi', 'QC', 'Operator', 6000000)
(2006003, 'Afif', 'L', 'Karawang', 'Compressor', 'Operator', 5500000)
(2006104, 'Riven', 'L', 'Tangerang', 'Compressor', 'Operator', 5500000)

In [6]:
import numpy as np

A = np.array([[1, 2],
              [4, 5],
              [7, 8]])

print(A, '\n')

print(A[2:3, 0:1],
      A[2:3, 1:2])

[[1 2]
 [4 5]
 [7 8]]

[[7]] [[8]]

In [7]:
import numpy as np

A = np.array([[1, 6, 9],
              [2, 5, 8]])

print(A, '\n')

print(A[0:1, 1:2],
      A[1:2, 1:2])

[[1 6 9]
 [2 5 8]]

[[6]] [[5]]

In [8]:
import numpy as np

A = np.array([[4, 3, 8],
              [7, 2, 5],
              [6, 1, 9]])

print(A, '\n')

print(A[1:2, 1:2])
print(A[2:3, 1:2])

[[4 3 8]
 [7 2 5]
 [6 1 9]]

[[2]]
[[1]]

In [9]:
import numpy as np

B = np.array([[4, 3, 8],
              [7, 2, 5],
              [6, 1, 9]])

print(B, '\n')

print(B[0:1, 1:2], B[0:1, 2:3])

[[4 3 8]
 [7 2 5]
 [6 1 9]]

[[3]] [[8]]

In [10]:
import numpy as np

A = np.array([[23, 35, 93, 87],
              [92, 44, 11, 83],
              [40, 12, 46, 28],
              [73, 67, 65, 32]])

print(A, '\n')


print('a =',A[1:2, 1:2], A[1:2, 2:3], A[1:2, 3:4], '\n')
print('b =',A[2:3, 1:2], A[2:3, 2:3],'\n', 
            A[3:4, 1:2], A[3:4, 2:3],'\n')
print('c =',A[1:2, 1:2], A[1:2, 2:3], A[1:2, 3:4],'\n',
            A[2:3, 1:2], A[2:3, 2:3], A[2:3, 3:4],'\n',
            A[3:4, 1:2], A[3:4, 2:3], A[3:4, 3:4],'\n')
print('d =',A[1:2, 0:1], A[1:2, 1:2],'\n',
            A[2:3, 0:1], A[2:3, 1:2],'\n')
print('e =',A[0:1, 0:1], A[0:1, 1:2], A[0:1, 2:3], '\n',
            A[1:2, 0:1], A[1:2, 1:2], A[1:2, 2:3], '\n')
print('f =',A[1:2, 1:2], '\n',
            A[2:3, 1:2], '\n',
            A[3:4, 1:2])

[[23 35 93 87]
 [92 44 11 83]
 [40 12 46 28]
 [73 67 65 32]]

a = [[44]] [[11]] [[83]]

b = [[12]] [[46]]
 [[67]] [[65]]

c = [[44]] [[11]] [[83]]
 [[12]] [[46]] [[28]]
 [[67]] [[65]] [[32]]

d = [[92]] [[44]]
 [[40]] [[12]]

e = [[23]] [[35]] [[93]]
 [[92]] [[44]] [[11]]

f = [[44]]
 [[12]]
 [[67]]